<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    backupGlobals="false" 
    backupStaticAttributes="false"
	bootstrap="tests/bootstrap.php" 
	colors="true"
	convertErrorsToExceptions="true" 
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true" 
	processIsolation="false"
	stopOnFailure="false">
	<testsuites>
		<testsuite name="User Tests">
			<directory suffix="Test.php">./tests/location</directory>
			<directory suffix="Test.php">./tests/routes</directory>
			<directory suffix="Test.php">./tests/user</directory>
			<directory suffic="Test.php">./tests/userright</directory>
			<directory suffic="Test.php">./tests/traces</directory>
			<directory suffic="Test.php">./tests/album</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./app</directory>
		</whitelist>
	</filter>
	<php>
		<env name="APP_ENV" value="testing" />
		<env name="CACHE_DRIVER" value="array" />
		<env name="SESSION_DRIVER" value="array" />
		<env name="QUEUE_DRIVER" value="sync" />
	</php>
</phpunit>
